{% extends 'layouts/main.html.twig' %}

{% block title %}Список книг{% endblock %}

{% block body %}

    <table class="main-table">
        <h3>Список книг</h3>
        <thead>
        <tr>
            <th>Автор</th>
            <th>Название</th>
            <th>Год</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.author }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.year }}</td>
                <td>
                    <div class="crud-form">
                        <form action="{{ path('book_edit', {'id': book.id}) }}">
                            <button class="btn btn-secondary">Редактировать</button>
                        </form>
                        <form method="post" action="{{ path('book_delete', {'id': book.id}) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                            <button class="btn btn-danger">Удалить</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Список пока пуст</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-outline-secondary add-btn" onclick="window.location.href = '{{ path('book_new') }}';">
        Добавить новую книгу
    </button>
{% endblock %}
