{% extends 'layouts/main.html.twig' %}

{% block title %}Список книг{% endblock %}

{% block body %}
    <div class="container">
        <table class="main-table">
            <caption><h3>Список книг</h3></caption>
            <thead>
            <tr>
                <th>Автор</th>
                <th>Название</th>
                <th>Год</th>

            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.author }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.year }}</td>
                    <td>
                     <!--   <a href="{{ path('book_show', {'id': book.id}) }}">show</a>-->
                        <a href="{{ path('book_edit', {'id': book.id}) }}">Редактировать</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <button class=" radius" onclick="window.location.href = '{{  path('book_new') }}';">Добавить новую книгу</button>

    </div>
{% endblock %}
