{% extends 'layouts/main.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Книга</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Автор</th>
                <td>{{ author }}</td>
            </tr>
            <tr>
                <th>Название произведения</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Год издания</th>
                <td>{{ book.year }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">Обратно к списку</a>

    <a href="{{ path('book_edit', {'id': book.id}) }}">Удалить</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
